:root {
    /* Calendar layout variables */
    --box-height: 80px;
    --box-gap-size: 6px;
    --hour-width: 65px;
    --hour-height: calc(var(--box-height) + var(--box-gap-size));
    --day-name-height: 30px;
}

/* Calendar layout */
.calendar {
    margin: 36px 0;
    font-size: small;
    overflow-x: auto;
}

.calendar .calendar-header {
    display: flex;
}

.calendar .calendar-header .empty {
    min-width: var(--hour-width);
    height: var(--day-name-height);
}

.calendar .calendar-header .day-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: calc(150px + var(--box-gap-size));
    height: var(--day-name-height);
}

.calendar .calendar-body {
    display: flex;
}

.calendar .calendar-body .hour-container .hour {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--hour-width);
    height: var(--hour-height);
}

.calendar .calendar-body .box-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: var(--box-gap-size);
    height: fit-content;
}

.calendar .calendar-body .box-container .box {
    position: relative;
    width: 100%;
    min-width: 160px;
    height: var(--box-height);
    padding: 6px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.calendar .calendar-body .box-container .box:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.calendar .calendar-body .box-container .box p {
    margin: 5px 0;
}

.calendar .calendar-body .box-container .box .invisible-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calendar .calendar-body .box-container .box:hover .invisible-info {
    display: flex;
}

.calendar .calendar-body .box-container .box .invisible-info span {
    margin: 5px 0;
}

.calendar .calendar-body .box-container .box .info-completed {
    background-color: var(--color-completed);
}

.calendar .calendar-body .box-container .box .info-absent {
    background-color: var(--color-absent);
}

.calendar .calendar-body .box-container .box .info-cancelled {
    background-color: var(--color-cancelled);
}

.calendar .calendar-body .box-container .box .info-pending {
    background-color: var(--color-pending);
}

/* History layout */
.history {
    margin: 22px 0;
}

.history table {
    width: 100%;
    border: 1px solid rgba(204, 204, 204, 0.6);
    border-radius: 10px;
}

.history table tr {
    display: flex;
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
}

.history table tr:last-child {
    border-bottom: none;
}

.history table tr td {
    width: 100%;
}

.history table tr td span {
    color: #fff;
    padding: 6px 15px;
    border-radius: 5px;
}

@media screen and (max-width: 1366px) {
    :root {
        /* Calendar layout variables */
        --box-height: 120px;
    }
}

@media screen and (max-width: 768px) {
    .history table tr td:nth-child(2), td:nth-child(4) {
        display: none;
    }
}