section {
    margin-bottom: 56px;
    transform: translateX(200%);
}

section.move {
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}

/* Main */
main {
    overflow: hidden;
}

/* Nav */
nav button {
    display: none;
    border: none;
    outline: none;
    font-size: x-large;
    cursor: pointer;
}

/* Patient details section */
.patient-details-section {
    display: flex;
    justify-content: space-between;
}

.patient-details-section .details {
    width: 100%;
    max-width: 440px;
    padding: 0 6px;
}

.patient-details-section .details h2 {
    font-size: medium;
    margin-bottom: 20px;
}

.patient-details-section .details h4 {
    font-size: x-large;
    margin: 8px 0;
}

.patient-details-section .details p {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

/* Tabs section */
.tabs-container button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 12px 24px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #fff);
}

.tabs-container button.selected {
    background: unset;
}

.display-appointments {
    padding: 40px 4% 0 4%;
}

.display-appointments table {
    width: 100%;
}

.display-appointments table tbody tr {
    display: flex;
    margin-bottom: 20px;
}

.display-appointments table tbody tr td {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
}

.display-appointments table tbody tr td:first-child {
    justify-content: start;
}

.display-appointments table tbody tr td:first-child span {
    font-size: large;
    margin-right: 26px;
}

.display-appointments table tbody tr td:last-child span {
    color: #fff;
    padding: 6px 15px;
    border-radius: 5px;
    background-color: var(--color-absent);
}

/* Appointment details */
.appointment-details-section {
    margin: 0 12px;
}

.appointment-details-section h3 {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.appointment-details-section h3 span {
    font-weight: normal;
    color: #999;
    margin: 0 5%;
}

.appointment-details-section .doctor-description {
    margin: 18px 0;
}

.appointment-details-section .doctor-description h5 {
    font-size: large;
}

.appointment-details-section .doctor-description p {
    padding: 15px 20px;
    color: #333;
}

@media screen and (max-width: 1336px) {
    /* Nav */
    nav {
        flex-wrap: wrap;
    }

    nav button {
        display: block;
    }

    nav .patients-list {
        display: none;
    }

    nav .patients-list.show {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    /* Patient details section */
    .patient-details-section {
        flex-wrap: wrap;
    }

    .patient-details-section .details {
        margin: 32px 0;
    }

    .patient-details-section .details:first-child {
        min-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    /* Tabs section */
    .tabs-container button {
        padding: 12px 12px;
    }

    .display-appointments table tbody tr td:first-child span {
        display: none;
    }
}