* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}

/* Left navbar */
nav {
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 2% 3%;
    height: 100vh;
}

nav h4 {
    margin-bottom: 15px;
    white-space: nowrap;
}

nav a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 6px;
}

.container {
    width: 100%;
    margin: 20px;
}

/* Header top */
.container header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.container header h1 {
    font-size: 1rem;
}

.container header .profile-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
}

/* Footer */
footer {
    font-size: small;
    text-align: center;
}

@media screen and (max-width: 1366px) {
    body {
        display: block;
    }

    nav {
        max-width: unset;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav h4 {
        margin: 0;
        margin-right: 10%;
    }

    nav a {
        width: 100%;
    }

    .container {
        margin: 0;
    }

    .container header {
        display: none;
    }

    footer {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    nav h4 {
        white-space: normal;
        text-align: left;
    }
}